.acl {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #d2d2d2;
  padding: 20px;
  border-radius: 10px;
}
.acl h2 {
  font-size: 35px;
}
.acl-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}
.acl-buttons {
  display: flex;
  gap: 10px;
}
.acl-bottom {
  display: flex;
  align-items: center;
}
.acl-bottom p {
  margin-right: 10px;
}
.values {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-weight: bold;
  color: #dd1d1d;
  word-break: break-word;
  max-width: 100%;
}

.value-item {
  background-color: #fcdcdc;
  border-radius: 8px;
  padding: 4px 10px;
}
