#directives-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#directives-form h2 {
  color: #fff;
  background-color: #042358;
  padding: 5px;
  border-radius: 5px;
}
.directives-select select {
  border: 2px solid #c7c7c7;
  height: 30px;
  color: #757575;
}
.directives-select:nth-child(1) {
  margin-bottom: 10px;
}
.directives-select label {
  margin-right: 5px;
}

#directives-btns {
  display: flex;
  gap: 20px;
}
