#directives-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#directives-form p {
  margin-bottom: 10px;
}
#directives-form h2 {
  color: #fff;
  background-color: #042358;
  padding: 5px;
  border-radius: 5px;
}
.directives-select select {
  border: 2px solid #c7c7c7;
  height: 30px;
  color: #757575;
}
.directives-select:nth-child(1) {
  margin-bottom: 10px;
}
.directives-select label {
  margin-right: 5px;
}

#directives-top {
  margin-top: 10px;
}

#directives-btns {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.removable {
  color: #00aa6b;
}

.dValue-item.removable:hover {
  background: #00aa6b;
  color: #fff;
}

.dValue-item.selected {
  background: #00aa6b;
  color: #fff;
}

#remove-msg2 {
  margin-top: 15px;
}
