#acls-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#acls-form h2 {
  margin-bottom: 20px;
  color: #fff;
  background-color: #042358;
  padding: 5px;
  border-radius: 5px;
}
#acl-inputs-control {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}
#acl-first {
  display: flex;
  align-items: center;
}
#acl-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.acl-input {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.acl-input input {
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
}
.acl-input label {
  margin-bottom: 7px;
}
.acl-select {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 1px solid #757575;
}
.acl-select select {
  border: 2px solid #c7c7c7;
  height: 30px;
  color: #757575;
}
.acl-select label {
  margin-bottom: 5px;
}
.acl-input input:focus {
  border: 2px solid #acacac;
}
