.add-btn {
  border-radius: 5px;
  border: 2px solid #01c37c;
  transition: 0.2s;
  color: #01c37c;
}
.add-btn:hover {
  background-color: #01c37c;
  color: #fff;
}

.create-btn,
.back-btn {
  padding: auto;
}
.create-btn:hover {
  background-color: #01c37c;
}
.back-btn i {
  font-size: x-large;
}
.create-btn i {
  font-size: x-large;
}

.clear-btn {
  font-size: 14px;
  width: 90px;
}
.clear-btn:hover {
  background-color: #ed9600;
}

.add-acl-values-btn {
  font-size: small;
}
.remove-acl-values-btn {
  font-size: 13.5px;
}
.remove-acl-values-btn:hover {
  background-color: #ed9600;
}
.add-acl-values-btn:hover {
  background-color: #01c37c;
}
