#technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#technologies h1 {
  color: #fff;
  padding: 15px;
  border-radius: 40px;
  margin: 50px auto 30px auto;
  background-color: rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

#home-techs {
  display: flex;
  gap: 50px;
}
#java {
  background-color: #fff;
  width: 19.5rem;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20rem;
}
.tech img {
  width: 20rem;
  border-radius: 5px;
  margin-bottom: 15px;
}
.tech p {
  color: #fff;
  font-size: large;
  font-weight: 300;
}
