#navbar {
  display: flex;
  align-items: center;
  gap: 130px;
  width: 100%;
  padding: 5px;
  background-color: #e4e4e4;
}
#navbar img {
  width: 150px;
  margin-left: 80px;
  cursor: pointer;
}

#navbar-buttons {
  display: flex;
  align-items: center;
}
#users-btn {
  padding: 4px 20px;
  background-color: #06c780;
  color: #fff;
  border-radius: 20px;
  margin-right: 130px;
  border: 3px solid transparent;
  transition: 0.2s;
}
#users-btn:hover {
  color: #042358;
  border: 3px solid #042358;
}

#server-btn {
  padding: 4px 20px;
  background-color: #fff;
  color: #042358;
  margin-right: 90px;
  border-radius: 20px;
  border: 3px solid transparent;
  transition: 0.2s;
}
#server-btn:hover {
  border: 3px solid #042358;
}

#rule-buttons {
  display: flex;
  gap: 30px;
  background-color: #042358;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 10px;
}
