button {
  border: none;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  color: #13175b;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #f13c3c;
  color: #fff;
}
